.link {
    position: absolute;
    transform: translate(-50%, -50%);
    color: #FCF7F8;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    background-color: #624CAB;
    padding: 10px;
    box-shadow: 0 4px 6px rgba(5, 5, 5, 5);
    transition: all 0.3s;
  }
  
  .link:hover {
    background-color: lightblue;
    color: darkblue;
  }
  