/* Default styles for the container */
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  /* Default styles for paragraphs, headings, and links */
  p {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 20px;
  }
  
  h1, h2, h3 {
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  /* Responsive padding adjustments */
  @media screen and (max-width: 600px) {
    /* Adjust padding for screens up to 600px wide */
    .container {
      padding: 10px;
    }
  }
  
  @media screen and (min-width: 601px) and (max-width: 1024px) {
    /* Adjust padding for screens between 601px and 1024px wide */
    .container {
      padding: 15px;
    }
  }
  
  @media screen and (min-width: 1025px) {
    /* Default padding for screens wider than 1024px */
    .container {
      padding: 20px;
    }
  }
  
  /* Container for centered content */
.center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* 100% of the viewport height */
  }
  
  /* Style for the image */
  /* Style for the image */
.centered-image {
    max-width: 100%; /* Ensure the image does not exceed its container's width */
    max-height: 100%; /* Ensure the image does not exceed its container's height */
    width: auto; /* Allow the image's width to adjust proportionally */
    height: auto; /* Allow the image's height to adjust proportionally */
  }
  
  /* Add this class to your <figure> elements */
  .center-figure {
    text-align: center; /* Center the content horizontally */
    margin: 0 auto; /* Center the content horizontally within the figure */
  }
  
  .pageTitle{
    text-align: center;
  }